<div class="container">
<h1>Contacto</h1>

<div #textos>
	<p appResaltado>
		Esta es la página de contacto, puedes enviarnos cualquier comentario o sugerencia.
	</p>
</div>


<!-- 
<label for="size">Tamaño del slider: </label>
<input type="number" [(ngModel)]="widthSlider" name="size">
<button (click)="cargarSlider()">Cargar slider</button>
<button (click)="resetSlider()">Reset slider</button>

<div *ngIf="anchoToSlider">
	<slider [ancho]="anchoToSlider"
			[etiquetas]="captions"
			(conseguirAutor)="getAutor($event)"
	></slider>
</div>

{{autor.nombre + " / " + autor.website}} -->

</div>
