<div id="title">
	<h1>{{ title }}</h1>
	<h2>{{ subtitle }}</h2>
	<p> web: <a href="https://friasochoa.com">{{ web }}</a></p>
</div>

<article class="about">
	<h2>Sobre mí</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt nibh diam, et rutrum felis venenatis ut. Aenean ut varius nisi, a convallis felis. Nam quis dictum erat. Mauris commodo auctor ullamcorper. Vivamus accumsan, nunc vitae tincidunt lacinia, lorem ligula auctor nisi, vel dapibus dui magna ac ante. Curabitur nec ipsum eu eros fermentum laoreet. Nam et neque felis. Aliquam vitae ligula elementum ante pharetra aliquam. Sed ut ligula elit. Suspendisse turpis arcu, euismod nec massa non, congue ornare dui. Donec a nibh eros. Nullam ut purus sed mauris efficitur porttitor a in ex. Quisque faucibus justo in est accumsan ultricies.
	</p>
</article>
